*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

img{
    width: 100%;
    height: auto;
}
/* contenitore principale */
main{
    background-color: black;
}


/* container immagini */
.immagini {
    display: flex;
    width: 80vw;
    margin: auto;
    padding-top: 5rem;
    flex-wrap: wrap;
    
}

.imm{
    position: relative;
    width: 185px;
    height: 123px;
    display: inline-flexbox;
   
    
}

/* riquadro nome e microfono */
/* .mic{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    background-color: #edededd0;
    position: absolute;
    left: 0;
    top: 6.3rem;
} */

